In [73]:
import datetime as dt
import pandas as pd
from datetime import datetime

from fmiopendata.wfs import download_stored_query

Vähennetään end_time ajasta 3 tuntia, koska datan viemisessä internettiin kestää hetken ja näin vältytään tyhjiltä (NaN) arvoilta

In [51]:
# Retrieve the latest hour of data from a bounding box
end_time = dt.datetime.now() - dt.timedelta(hours=3)
start_time = end_time - dt.timedelta(days=7)
# Convert times to properly formatted strings
start_time = start_time.isoformat(timespec="seconds") + "Z"
# -> 2025-09-28T12:00:00Z
end_time = end_time.isoformat(timespec="seconds") + "Z"
# -> 2025-09-28T13:00:00Z

Katsotaan minkälaisia mittauspisteitä määrittelemälläni alueelta löytyy. Tämän perusteella valitaan Tampereen ja Helsingin keskustojen läheisyydessä sijaitsevat mittauspisteet.

In [52]:
obs = download_stored_query("urban::observations::airquality::hourly::multipointcoverage", # ILMANLAATUPARAMETRI
                            args=["bbox=23,60,26,63",
                                  "starttime=" + start_time,
                                  "endtime=" + end_time])

df

,datetime,location,Sulphur dioxide,Nitrogen monoxide,Nitrogen dioxide,Ozone,Odorous sulphur compounds,Carbon monoxide,Particulate matter < 10 µm,Particulate matter < 2.5 µm,Air Quality Index,musta hiili PM2.5
0,2025-09-21 16:00:00,Helsinki Kallio 2,0.5,0.1,7.0,79.7,NaN,NaN,11.7,7.6,2.0,0.37
1,2025-09-21 16:00:00,Espoo Leppävaara Läkkisepänkuja,NaN,1.4,7.0,NaN,NaN,NaN,10.1,6.6,1.0,0.45
2,2025-09-21 16:00:00,Espoo Luukki,-0.4,-0.1,2.1,86.4,NaN,NaN,9.5,6.6,2.0,0.32
3,2025-09-21 16:00:00,Helsinki Mannerheimintie,NaN,1.5,18.6,NaN,NaN,NaN,13.7,9.3,1.0,0.55
4,2025-09-21 16:00:00,Vantaa Tikkurila Neilikkatie,NaN,3.5,8.9,NaN,NaN,NaN,11.3,7.2,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4867,2025-09-28 15:00:00,Hollola Kuntotie,NaN,NaN,2.0,NaN,NaN,NaN,4.6,1.5,1.0,NaN
4868,2025-09-28 15:00:00,Helsinki Teollisuuskatu,NaN,0.8,4.1,62.0,NaN,NaN,4.3,1.4,2.0,0.12
4869,2025-09-28 15:00:00,Helsinki Tapanila 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05
4870,2025-09-28 15:00:00,Vantaa Kehä III Viinikkala,NaN,2.0,11.6,NaN,NaN,NaN,4.2,1.3,1.0,NaN
4871,2025-09-28 15:00:00,Helsinki Kustaa Vaasan tie,NaN,1.8,4.4,NaN,NaN,NaN,3.6,1.7,1.0,NaN

In [55]:
df[df['location'].str.contains('Vantaa', case=False, na=False)]

,datetime,location,Sulphur dioxide,Nitrogen monoxide,Nitrogen dioxide,Ozone,Odorous sulphur compounds,Carbon monoxide,Particulate matter < 10 µm,Particulate matter < 2.5 µm,Air Quality Index,musta hiili PM2.5
4,2025-09-21 16:00:00,Vantaa Tikkurila Neilikkatie,NaN,3.5,8.9,NaN,NaN,NaN,11.3,7.2,1.0,NaN
27,2025-09-21 16:00:00,Vantaa Kehä III Viinikkala,NaN,1.8,8.9,NaN,NaN,NaN,9.5,6.4,1.0,NaN
33,2025-09-21 17:00:00,Vantaa Tikkurila Neilikkatie,NaN,2.7,11.1,NaN,NaN,NaN,12.0,7.7,1.0,NaN
56,2025-09-21 17:00:00,Vantaa Kehä III Viinikkala,NaN,1.3,9.1,NaN,NaN,NaN,10.6,6.9,1.0,NaN
62,2025-09-21 18:00:00,Vantaa Tikkurila Neilikkatie,NaN,2.3,6.6,NaN,NaN,NaN,11.9,8.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4812,2025-09-28 13:00:00,Vantaa Kehä III Viinikkala,NaN,2.0,8.0,NaN,NaN,NaN,4.0,1.6,1.0,NaN
4818,2025-09-28 14:00:00,Vantaa Tikkurila Neilikkatie,NaN,4.2,6.2,NaN,NaN,NaN,3.5,1.2,1.0,NaN
4841,2025-09-28 14:00:00,Vantaa Kehä III Viinikkala,NaN,0.8,6.9,NaN,NaN,NaN,3.3,1.2,1.0,NaN
4847,2025-09-28 15:00:00,Vantaa Tikkurila Neilikkatie,NaN,5.2,6.5,NaN,NaN,NaN,4.1,1.3,1.0,NaN
4870,2025-09-28 15:00:00,Vantaa Kehä III Viinikkala,NaN,2.0,11.6,NaN,NaN,NaN,4.2,1.3,1.0,NaN

In [57]:
df[df['location'].str.contains('Espoo', case=False, na=False)]

,datetime,location,Sulphur dioxide,Nitrogen monoxide,Nitrogen dioxide,Ozone,Odorous sulphur compounds,Carbon monoxide,Particulate matter < 10 µm,Particulate matter < 2.5 µm,Air Quality Index,musta hiili PM2.5
1,2025-09-21 16:00:00,Espoo Leppävaara Läkkisepänkuja,NaN,1.4,7.0,NaN,NaN,NaN,10.1,6.6,1.0,0.45
2,2025-09-21 16:00:00,Espoo Luukki,-0.4,-0.1,2.1,86.4,NaN,NaN,9.5,6.6,2.0,0.32
19,2025-09-21 16:00:00,Espoo Lintuvaara 2,NaN,-0.1,2.2,NaN,NaN,NaN,9.9,6.7,1.0,0.31
30,2025-09-21 17:00:00,Espoo Leppävaara Läkkisepänkuja,NaN,1.3,8.4,NaN,NaN,NaN,11.9,7.5,1.0,0.49
31,2025-09-21 17:00:00,Espoo Luukki,-0.4,0.1,1.8,80.9,NaN,NaN,10.5,6.6,2.0,0.35
...,...,...,...,...,...,...,...,...,...,...,...,...
4816,2025-09-28 14:00:00,Espoo Luukki,-0.1,-0.2,1.8,56.8,NaN,NaN,3.3,1.2,1.0,0.07
4833,2025-09-28 14:00:00,Espoo Lintuvaara 2,NaN,-0.1,1.5,NaN,NaN,NaN,3.2,1.0,1.0,0.06
4844,2025-09-28 15:00:00,Espoo Leppävaara Läkkisepänkuja,NaN,2.3,8.4,NaN,NaN,NaN,3.6,1.4,1.0,0.15
4845,2025-09-28 15:00:00,Espoo Luukki,-0.2,-0.3,1.8,57.0,NaN,NaN,3.9,1.3,1.0,0.07
4862,2025-09-28 15:00:00,Espoo Lintuvaara 2,NaN,-0.2,1.4,NaN,NaN,NaN,3.5,1.2,1.0,0.06

Tarkistetaan, että datan tyypitykset ovat oikein jatkokäsittelyä varten.
Tässä esimerkissä datatyypit ovat datetime64[ns], object ja float64.

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4872 entries, 0 to 4871
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   datetime                     4872 non-null   datetime64[ns]
 1   location                     4872 non-null   object
 2   Sulphur dioxide              1008 non-null   float64
 3   Nitrogen monoxide            2179 non-null   float64
 4   Nitrogen dioxide             4363 non-null   float64
 5   Ozone                        1339 non-null   float64
 6   Odorous sulphur compounds    168 non-null    float64
 7   Carbon monoxide              0 non-null      float64
 8   Particulate matter < 10 µm   4031 non-null   float64
 9   Particulate matter < 2.5 µm  4031 non-null   float64
 10  Air Quality Index            4704 non-null   float64
 11  musta hiili PM2.5            1175 non-null   float64
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 456.9+ KB

Valitaan mittauspisteiksi: 
* Tampere Linja-autoasema
* Helsinki Mannerheimintie

Valitaan mittausdatasta tarkasteltavaksi:
* datetime
* location
* Particular matter < 2.5 µm
* Air Quality Index
* Nitrogen dioxide

In [61]:
records = []

for datet, locations in obs.data.items():
    for location, pollutants in locations.items():
        record = {'datetime': datet, 'location': location}
        for pollutant, values in pollutants.items():
            record[pollutant] = values['value']
        records.append(record)

df = pd.DataFrame(records)

#filtered_df = df[df['location'].isin(['Tampere Linja-autoasema','Helsinki Mannerheimintie'])][['datetime','location', 'Particulate matter < 2.5 µm','Air Quality Index', 'Nitrogen dioxide']]
filtered_df = df[df['location'].isin(['Tampere Linja-autoasema','Helsinki Mannerheimintie', 'Vantaa Tikkurila Neilikkatie', 'Espoo Leppävaara Läkkisepänkuja'])][['datetime','location', 'Particulate matter < 2.5 µm','Air Quality Index', 'Nitrogen dioxide']]


filtered_df

,datetime,location,Particulate matter < 2.5 µm,Air Quality Index,Nitrogen dioxide
1,2025-09-22 07:00:00,Espoo Leppävaara Läkkisepänkuja,1.4,1.0,9.0
3,2025-09-22 07:00:00,Helsinki Mannerheimintie,1.5,1.0,6.4
4,2025-09-22 07:00:00,Vantaa Tikkurila Neilikkatie,1.1,1.0,14.4
9,2025-09-22 07:00:00,Tampere Linja-autoasema,1.4,1.0,7.2
30,2025-09-22 08:00:00,Espoo Leppävaara Läkkisepänkuja,1.2,1.0,5.5
...,...,...,...,...,...
4823,2025-09-29 05:00:00,Tampere Linja-autoasema,2.8,1.0,17.8
4844,2025-09-29 06:00:00,Espoo Leppävaara Läkkisepänkuja,11.9,2.0,33.4
4846,2025-09-29 06:00:00,Helsinki Mannerheimintie,6.5,2.0,19.1
4847,2025-09-29 06:00:00,Vantaa Tikkurila Neilikkatie,6.1,1.0,32.0
4852,2025-09-29 06:00:00,Tampere Linja-autoasema,4.5,1.0,21.6

Tallenetaan datataulu CSV-muotoon, jota voimme käyttää pohjana Power BI -raportille. Tallenetaan datataulu suoraan /data/processed/ -kansioon.

In [68]:
filtered_df.to_csv("../data/processed/ilmanlaatu_tampere_helsinki.csv", index=False)

In [66]:
filtered_df.head()

,datetime,location,Particulate matter < 2.5 µm,Air Quality Index,Nitrogen dioxide
1,2025-09-22 07:00:00,Espoo Leppävaara Läkkisepänkuja,1.4,1.0,9.0
3,2025-09-22 07:00:00,Helsinki Mannerheimintie,1.5,1.0,6.4
4,2025-09-22 07:00:00,Vantaa Tikkurila Neilikkatie,1.1,1.0,14.4
9,2025-09-22 07:00:00,Tampere Linja-autoasema,1.4,1.0,7.2
30,2025-09-22 08:00:00,Espoo Leppävaara Läkkisepänkuja,1.2,1.0,5.5

In [75]:
with open("../data/processed/last_updated.txt", "w") as f:
    f.write(datetime.now().strftime("%Y-%m-%d %H:%M:%S UTC"))